/*--------@/assets/styles/fleet-typography.css--------------------------------*/
/******************************************************************************/
/* Typography
/******************************************************************************/
/* Basic Heading Styles */
h1, h2, h3, h4, h5, h6 { @apply my-0.5; }

/* Remove margin from first heading on the page */
body > h1:first-child { @apply mt-0; }

h1, title { @apply text-3xl font-extrabold }

h2 { @apply text-2xl font-bold; }
h3 { @apply text-lg font-bold; }
h4 { @apply text-base font-bold; }
p  { @apply text-base; }
/* ul { 
    list-style-type: none;
}  */
.prose p {  @apply text-purple-400; }

.prose ul > li::before {
    content: url('~icons/material-symbols-light:arrow-right');
    margin-right: 0.5rem;
}

.prose ul {
    list-style-image: url('~icons/material-symbols-light:arrow-right');
  }

/*--------@/assets/styles/fleet-typography.css--------------------------------*/